<section>
    <div class="masthead">
        <div class="container">
            <img class="logo" src="../../Content/images/Logo.png" />
        </div>
    </div>
    <div class="bg-1">
        <div class="container">
            <div class="row">
                <h3 class="text-center">Search for european countries with their lead championship, <br>teams and players!</h3>
                <div class="col-xs-1"></div>
                <div class="col-xs-10 wicons">
                    <div class="col-xs-3"><a data-bind="attr: {href: '#countries'}"><img class="img-responsive" src="https://image.ibb.co/b6b8zm/countries_01.png" alt="countries" border="0"></a></div>
                    <div class="col-xs-3"><a data-bind="attr: {href: '#leagues'}" ><img class="img-responsive" src="https://image.ibb.co/dG0CQR/leagues_01.png" alt="leagues" border="0"></a></div>
                    <div class="col-xs-3"><a data-bind="attr: {href: '#teams'}"   ><img class="img-responsive" src="https://image.ibb.co/jUmQem/teams_01.png" alt="teams" border="0"></a></div>
                    <div class="col-xs-3"><a data-bind="attr: {href: '#players'}" ><img class="img-responsive" src="https://image.ibb.co/nJRVC6/players_01.png" alt="players" border="0"></a></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-10">          
                    <div class="col-xs-3" style="text-align: center;"><a data-bind="attr: {href: '#countries'}"><h4>Countries</h4></a></div>
                    <div class="col-xs-3" style="text-align: center;"><a data-bind="attr: {href: '#leagues'}"><h4>Leagues</h4></a></div>
                    <div class="col-xs-3" style="text-align: center;"><a data-bind="attr: {href: '#teams'}"  ><h4>Teams</h4></a></div>
                    <div class="col-xs-3" style="text-align: center;"><a data-bind="attr: {href: '#players'}"><h4>Players</h4></a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-2">
        <div class="container">
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-3">
                    <a><img class="img-responsive" src="https://image.ibb.co/iETYzm/countries_01.png" alt="countries" border="0"></a>
                </div>
                <div class="col-xs-7" style="min-height:250px; display:table;"><h2 style="vertical-align:middle; display:table-cell">11 European Countries</h2></div>
            </div>
            <div class="row">
                <div class="col-xs-8" style="min-height:250px; display:table;"><h2 style="vertical-align:middle; display:table-cell; text-align:right;">with their lead championship <br /> from seasons 2008 to 2016</h2></div>
                <div class="col-xs-3"><a><img class="img-responsive" src="https://image.ibb.co/dLVfem/leagues_01.png" alt="leagues" border="0"></a></div>
                <div class="col-xs-1"></div>
            </div>
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-3">
                    <a><img class="img-responsive" src="https://image.ibb.co/kCmaC6/teams_01.png" alt="teams" border="0"></a>
                </div>
                <div class="col-xs-7" style="min-height:250px; display:table;"><h2 style="vertical-align:middle; display:table-cell">+25k matches</h2></div>
            </div>
            <div class="row">
                <div class="col-xs-8" style="min-height:250px; display:table;"><h2 style="vertical-align:middle; display:table-cell; text-align:right;">and 10k players!</h2></div>
                <div class="col-xs-3"><a><img class="img-responsive" src="https://image.ibb.co/chjj5R/players_01.png" alt="players" border="0"></a></div>
                <div class="col-xs-1"></div>
            </div>
        </div>
    </div>
    <div class="bg-1">
        <div class="container">
            <div class="row text-center">
                <h2>Single Page Application build on top of ITW APP <br />using Durandal, RequireJS, Knockout & Bootstrap!</h2>
            </div>
            <div class="row">
                <div class="col-xs-4"></div>
                <div class="col-xs-4"><a><img class="img-responsive center-block" src="https://image.ibb.co/n0fG26/itwlogo_01.png" alt="itwlogo_01" border="0"></a></div>
                
            </div>
        </div>
    </div>
    
    
    
    <footer class="text-center bottom">
        <a class="up-arrow" data-toggle="tooltip" title="TO TOP">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a><br><br>
        <h4>World Of Soccer | 2017</h4>
    </footer>
</section>